<ng-container>
  <mat-sidenav-container class="example-container">
    <mat-toolbar>
      <button mat-button color="primary" (click)="opened = !opened" style="min-width: 0">
        <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
      </button>
      <app-build-info></app-build-info>
      <span fxFlex></span>
      <a mat-button class="app-warn" *ngIf="isLoggedIn() && isAdmin()">
        <fa-icon [icon]="['fas', 'project-diagram']" aria-hidden="false" aria-label="My Projects"></fa-icon>
        Projects ({{projects}})
      </a>
    </mat-toolbar>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                 (closed)="events.push('close!')" class="example-sidenav">
      <div class="header">
        <a routerLink="/">
          <img class="logo" src="/assets/logo.png" />
        </a>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" *ngIf="!isLoggedIn()" >
        <button mat-flat-button color="warn" class="mt-1 mb-2"
                (click)="showLoginForm = !showLoginForm">{{ showLoginForm ? 'Hide' : 'Login'}}</button>
        <app-login *ngIf="showLoginForm"></app-login>
      </div>
      <div class="mb-1" fxLayout="column" fxLayoutAlign="center center" *ngIf="isLoggedIn()">
        <p class="app-logged text-center borderless mx-0">Logged as {{getUserInfo().username}}</p>
        <button  mat-flat-button color="warn" (click)="logout()">Logout</button>
      </div>
      <hr class="mat-divider">
      <app-menu></app-menu>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
  <a class="github-fork-ribbon right-bottom fixed" href="https://github.com/naterivah" data-ribbon="Fork me on GitHub"
     title="Fork me on GitHub">Fork me on GitHub</a>
</ng-container>
