<mat-card class="mt-5 container transparent">
  <mat-card-title class="text-center">Projects</mat-card-title>
  <mat-card-content>
    <button mat-icon-button color="primary" (click)="newProjectFormVisible=!newProjectFormVisible; projectToEdit=null">
      <fa-icon *ngIf="!newProjectFormVisible" [icon]="['fas', 'plus']"></fa-icon>
      <fa-icon *ngIf="newProjectFormVisible" [icon]="['fas', 'window-close']"></fa-icon>
      {{newProjectFormVisible ? 'Close' : 'New Project'}}
    </button>
    <mat-card class="mat-card-project" *ngIf="newProjectFormVisible && !projectToEdit">
      <app-new-project></app-new-project>
    </mat-card>
    <mat-card class="mat-card-project" *ngIf="newProjectFormVisible && projectToEdit">
      <app-new-project [project]="projectToEdit"></app-new-project>
    </mat-card>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div *ngIf="datasource">
      <table mat-table [dataSource]="datasource">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID</th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
        <!-- Files Column -->
        <ng-container matColumnDef="files">
          <th mat-header-cell *matHeaderCellDef> Files</th>
          <td mat-cell *matCellDef="let row"> {{row.fileEvents?.length}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action</th>
          <td [id]="row.name" mat-cell *matCellDef="let row">
            <button mat-icon-button [routerLink]="['/projects',row.id]" class="app-accent">
              <fa-icon [icon]="['fas', 'eye']"></fa-icon>
            </button>&nbsp;
            <button (click)="openFormEdit(row)" mat-icon-button class="app-primary">
              <fa-icon [icon]="['fas', 'edit']"></fa-icon>
            </button>&nbsp;
            <button disabled mat-icon-button>
              <fa-icon [icon]="['fas', 'trash']"></fa-icon>
            </button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
