<mat-card class="mt-5 container transparent" *ngIf="project">
  <mat-card-title class="text-center">Project {{project.name}}</mat-card-title>
  <mat-card-subtitle class="text-center">
    <small>Created: {{project.creationDate}}, Last updated: {{project.lastModifiedDate || 'never'}}</small>
    <p>{{project.description}}</p>
  </mat-card-subtitle>
  <mat-card-content>
    <div class="pull-right mt-2">
      <button mat-stroked-button color="primary" class="mr-2" [matMenuTriggerFor]="menuUpload">
        <span class="text-uppercase"><fa-icon [icon]="['fas', 'upload']"></fa-icon></span></button>
      <mat-menu #menuUpload="matMenu">
        <app-upload (onFinish)="onFinishUpload($event)" title="Upload RDF File" [projectId]="project.id"
                    uploadType="RDF_FILE"></app-upload>
        <app-upload (onFinish)="onFinishUpload($event)" title="Upload SHACL File" [projectId]="project.id"
                    uploadType="SHACL_FILE"></app-upload>
        <app-upload (onFinish)="onFinishUpload($event)" title="Upload SKOS File" [projectId]="project.id"
                    uploadType="SKOS_FILE"></app-upload>
        <app-upload (onFinish)="onFinishUpload($event)" title="Upload RAW File" [projectId]="project.id"
                    uploadType="RAW_FILE"></app-upload>
        <app-upload (onFinish)="onFinishUpload($event)" title="Upload SPARQL Freemarker File" [projectId]="project.id"
                    uploadType="FREEMARKER_TEMPLATE_FILE"></app-upload>
      </mat-menu>
      <button mat-stroked-button color="warn" class="mr-2" [matMenuTriggerFor]="menuAction">
        <span class="text-uppercase"><fa-icon [icon]="['fas', 'sync-alt']"></fa-icon></span>
      </button>
      <mat-menu #menuAction="matMenu">
        <button mat-menu-item>Skos Conversion</button>
        <button mat-menu-item>Sink RDF</button>
        <button mat-menu-item>Logs</button>
      </mat-menu>
      <button mat-stroked-button color="accent" class="mr-2" [matMenuTriggerFor]="menuQuery">
        <span class="text-uppercase"><fa-icon [icon]="['fas', 'search']"></fa-icon></span>
      </button>
      <mat-menu #menuQuery="matMenu">
        <button mat-menu-item>Query MongoDB</button>
        <button mat-menu-item>Query Sparql</button>
      </mat-menu>
    </div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div *ngIf="datasource">
      <table mat-table [dataSource]="datasource">
        <ng-container matColumnDef="originalFilename">
          <th mat-header-cell *matHeaderCellDef>FileName</th>
          <td mat-cell *matCellDef="let row"> {{row.originalFilename}} </td>
        </ng-container>
        <ng-container matColumnDef="contentType">
          <th mat-header-cell *matHeaderCellDef>ContentType</th>
          <td mat-cell *matCellDef="let row"> {{row.contentType}} </td>
        </ng-container>
        <ng-container matColumnDef="eventType">
          <th mat-header-cell *matHeaderCellDef>EventType</th>
          <td mat-cell *matCellDef="let row"> {{row.eventType}} </td>
        </ng-container>
        <ng-container matColumnDef="creationDate">
          <th mat-header-cell *matHeaderCellDef>Creation</th>
          <td mat-cell *matCellDef="let row"> {{row.creationDate }} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell class="app-accent" *matCellDef="let row">
            <a mat-icon-button (click)="download(row)">
              <fa-icon [icon]="['fas', 'download']"></fa-icon>
            </a>&nbsp;
            <a disabled mat-icon-button>
              <fa-icon [icon]="['fas', 'trash']"></fa-icon>
            </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
