<mat-card class="mt-1 ">
  <mat-card-content>
    <form class="centered-form" (ngSubmit)="login()" [formGroup]="loginForm">
      <mat-form-field color="primary">
        <input matInput formControlName="username" [id]="'username'" placeholder="Username">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="password" type="password" [id]="'password'" placeholder="Password">
      </mat-form-field>
      <input type="submit" class="mat-button mat-primary mat-flat-button" value="Login" [id]="'button-submit'">
    </form>

    <div *ngIf="isVisible" class="mt-2 mb-3" fxLayout="row" fxLayoutAlign="center center">
      <p id="errorMessage" class="text-danger">{{getMessage()}}</p>
    </div>
  </mat-card-content>
</mat-card>
