<ng-container *ngIf="filteredXlsFiles">
  <h1 class="text-center" mat-dialog-title>Skos Conversion</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>File to convert</mat-label>
      <mat-select [(value)]="selectedId">
        <mat-option *ngFor="let xlsFile of filteredXlsFiles" [value]="xlsFile.id">{{xlsFile.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button class="ml-2" mat-stroked-button color="primary" (click)="convert()" [disabled]="!selectedId">Convert
    </button>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
  </div>
</ng-container>

