<mat-card class="container mt-5 transparent">
  <mat-card-title class="text-center">A TRIANGLE</mat-card-title>
  <mat-card-content>
    <mat-card-subtitle class="text-center">
      RDF ingestion made it *simple*
    </mat-card-subtitle>
    <ng-container>
      <div>
        <h2 class="mat-body-1  app-primary text-white">Resource Description Framework (RDF)</h2>
        <span class="mat-body-2 p-0 col-lg-9 col-sm-12 text-break">
          The Resource Description Framework (RDF) is a family of World Wide Web Consortium (W3C) specifications, originally designed as a metadata data model.
          It has come to be used as a general method for conceptual description or modeling of information that is implemented in web resources,
          using a variety of syntax notations and data serialization formats.
          It is also used in knowledge management applications. <br><br>
          (Source:&nbsp;<a class="app-accent" target="_blank"
                           href="https://en.wikipedia.org/wiki/Resource_Description_Framework">Wikipedia</a>&nbsp;)
        </span>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
