<ng-container *ngIf="filteredRdfFiles">
  <h1 class="text-center" mat-dialog-title>Sink RDF</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>RDF file to sink</mat-label>
      <mat-select [(value)]="selectedId">
        <mat-option *ngFor="let file of filteredRdfFiles" [value]="file.id">{{file.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field *ngIf="filteredShaclFiles">
      <mat-label>Shacl file</mat-label>
      <mat-select [(value)]="selectedShaclId">
        <mat-option *ngFor="let file of filteredShaclFiles" [value]="file.id">{{file.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button class="ml-2" mat-stroked-button color="primary" (click)="sink()" [disabled]="!selectedId">Convert
    </button>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
  </div>
</ng-container>

