{
  "settings" : {
    "number_of_shards" : 1
  },
  "mappings" : {
    "properties" : {
      "field1" : { "type" : "text" }
    }
  },
    "aliases" : {
          "alias_1" : {},
          "alias_2" : {
              "filter" : {
                  "term" : {"user" : "kimchy" }
              },
              "routing" : "kimchy"
          }
      }
}