application.id=unit_aggregation-robot
client.id=unit_aggregation-robot-client
bootstrap.servers=localhost:9092
state.dir=/tmp/unit-state
enable.auto.commit=false
topic.to=input
topic.from=output-unit,output-link,output-event