virtuoso.scheme=http
virtuoso.hostname=192.168.99.101
virtuoso.port=8890
virtuoso.username=dba
virtuoso.password=dba
virtuoso.defaultGraph=https://www.artcoded.tech/artcodedmovies-graph

virtuoso.sparql.endpoint.url=${virtuoso.scheme}://${virtuoso.hostname}:${virtuoso.port}/sparql

elasticsearch.hostname=192.168.99.101
elasticsearch.port=9200
elasticsearch.scheme=http

server.port=8070


spring.kafka.bootstrap-servers=192.168.99.101:9092
spring.kafka.consumer.group-id=atriangle-client
spring.kafka.consumer.auto-offset-reset=earliest
spring.kafka.consumer.key-deserializer=org.apache.kafka.common.serialization.StringDeserializer
spring.kafka.consumer.value-deserializer=org.apache.kafka.common.serialization.StringDeserializer
spring.kafka.producer.key-serializer=org.apache.kafka.common.serialization.StringDeserializer
spring.kafka.producer.value-serializer=org.apache.kafka.common.serialization.StringDeserializer
spring.kafka.template.default-topic=event-dispatcher
spring.kafka.listener.missing-topics-fatal=false