virtuoso.scheme=http
virtuoso.hostname=192.168.99.101
virtuoso.port=8890
virtuoso.username=dba
virtuoso.password=dba
virtuoso.defaultGraph=https://www.artcoded.tech/artcodedmovies-graph

virtuoso.sparql.endpoint.url=${virtuoso.scheme}://${virtuoso.hostname}:${virtuoso.port}/sparql

elasticsearch.hostname=192.168.99.101
elasticsearch.port=9200
elasticsearch.scheme=http

server.port=8070