/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mr-0, .mx-0 {
  margin-right: 0 !important
}

.ml-0, .mx-0 {
  margin-left: 0 !important
}

.mt-0, .my-0 {
  margin-top: 0 !important
}

.mb-0, .my-0 {
  margin-bottom: 0 !important
}

.pr-0, .px-0 {
  padding-right: 0 !important
}

.pl-0, .px-0 {
  padding-left: 0 !important
}

.pt-0, .py-0 {
  padding-top: 0 !important
}

.pb-0, .py-0 {
  padding-bottom: 0 !important
}

.float-left {
  float: left !important
}

.float-right {
  float: right !important
}

.float-none {
  float: none !important
}

.text-left {
  text-align: left !important
}

.text-right {
  text-align: right !important
}

.text-center {
  text-align: center !important
}

.m-0 {
  margin: 0 !important
}

.mr-1, .mx-1 {
  margin-right: .25rem !important
}

.ml-1, .mx-1 {
  margin-left: .25rem !important
}

.mt-1, .my-1 {
  margin-top: .25rem !important
}

.mb-1, .my-1 {
  margin-bottom: .25rem !important
}

.m-1 {
  margin: .25rem !important
}

.mr-2, .mx-2 {
  margin-right: .5rem !important
}

.ml-2, .mx-2 {
  margin-left: .5rem !important
}

.mt-2, .my-2 {
  margin-top: .5rem !important
}

.mb-2, .my-2 {
  margin-bottom: .5rem !important
}

.m-2 {
  margin: .5rem !important
}

.mr-3, .mx-3 {
  margin-right: 1rem !important
}

.ml-3, .mx-3 {
  margin-left: 1rem !important
}

.mt-3, .my-3 {
  margin-top: 1rem !important
}

.mb-3, .my-3 {
  margin-bottom: 1rem !important
}

.m-3 {
  margin: 1rem !important
}

.mr-4, .mx-4 {
  margin-right: 1.5rem !important
}

.ml-4, .mx-4 {
  margin-left: 1.5rem !important
}

.mt-4, .my-4 {
  margin-top: 1.5rem !important
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem !important
}

.m-4 {
  margin: 1.5rem !important
}

.mr-5, .mx-5 {
  margin-right: 3rem !important
}

.ml-5, .mx-5 {
  margin-left: 3rem !important
}

.mt-5, .my-5 {
  margin-top: 3rem !important
}

.mb-5, .my-5 {
  margin-bottom: 3rem !important
}

.m-5 {
  margin: 3rem !important
}

.p-0 {
  padding: 0 !important
}

.pr-1, .px-1 {
  padding-right: .25rem !important
}

.pl-1, .px-1 {
  padding-left: .25rem !important
}

.pt-1, .py-1 {
  padding-top: .25rem !important
}

.pb-1, .py-1 {
  padding-bottom: .25rem !important
}

.p-1 {
  padding: .25rem !important
}

.pr-2, .px-2 {
  padding-right: .5rem !important
}

.pl-2, .px-2 {
  padding-left: .5rem !important
}

.pt-2, .py-2 {
  padding-top: .5rem !important
}

.pb-2, .py-2 {
  padding-bottom: .5rem !important
}

.p-2 {
  padding: .5rem !important
}

.pr-3, .px-3 {
  padding-right: 1rem !important
}

.pl-3, .px-3 {
  padding-left: 1rem !important
}

.pt-3, .py-3 {
  padding-top: 1rem !important
}

.pb-3, .py-3 {
  padding-bottom: 1rem !important
}

.p-3 {
  padding: 1rem !important
}

.pr-4, .px-4 {
  padding-right: 1.5rem !important
}

.pl-4, .px-4 {
  padding-left: 1.5rem !important
}

.pt-4, .py-4 {
  padding-top: 1.5rem !important
}

.pb-4, .py-4 {
  padding-bottom: 1.5rem !important
}

.p-4 {
  padding: 1.5rem !important
}

.pr-5, .px-5 {
  padding-right: 3rem !important
}

.pl-5, .px-5 {
  padding-left: 3rem !important
}

.pt-5, .py-5 {
  padding-top: 3rem !important
}

.pb-5, .py-5 {
  padding-bottom: 3rem !important
}

.p-5 {
  padding: 3rem !important
}

@media (min-width: 768px) {
  .float-sm-left {
    float: left !important
  }
  .float-sm-right {
    float: right !important
  }
  .float-sm-none {
    float: none !important
  }
  .text-sm-left {
    text-align: left !important
  }
  .text-sm-right {
    text-align: right !important
  }
  .text-sm-center {
    text-align: center !important
  }
  .mr-sm-0, .mx-sm-0 {
    margin-right: 0 !important
  }
  .ml-sm-0, .mx-sm-0 {
    margin-left: 0 !important
  }
  .mt-sm-0, .my-sm-0 {
    margin-top: 0 !important
  }
  .mb-sm-0, .my-sm-0 {
    margin-bottom: 0 !important
  }
  .pr-sm-0, .px-sm-0 {
    padding-right: 0 !important
  }
  .pl-sm-0, .px-sm-0 {
    padding-left: 0 !important
  }
  .pt-sm-0, .py-sm-0 {
    padding-top: 0 !important
  }
  .pb-sm-0, .py-sm-0 {
    padding-bottom: 0 !important
  }
  .m-sm-0 {
    margin: 0 !important
  }
  .mr-sm-1, .mx-sm-1 {
    margin-right: .25rem !important
  }
  .ml-sm-1, .mx-sm-1 {
    margin-left: .25rem !important
  }
  .mt-sm-1, .my-sm-1 {
    margin-top: .25rem !important
  }
  .mb-sm-1, .my-sm-1 {
    margin-bottom: .25rem !important
  }
  .m-sm-1 {
    margin: .25rem !important
  }
  .mr-sm-2, .mx-sm-2 {
    margin-right: .5rem !important
  }
  .ml-sm-2, .mx-sm-2 {
    margin-left: .5rem !important
  }
  .mt-sm-2, .my-sm-2 {
    margin-top: .5rem !important
  }
  .mb-sm-2, .my-sm-2 {
    margin-bottom: .5rem !important
  }
  .m-sm-2 {
    margin: .5rem !important
  }
  .mr-sm-3, .mx-sm-3 {
    margin-right: 1rem !important
  }
  .ml-sm-3, .mx-sm-3 {
    margin-left: 1rem !important
  }
  .mt-sm-3, .my-sm-3 {
    margin-top: 1rem !important
  }
  .mb-sm-3, .my-sm-3 {
    margin-bottom: 1rem !important
  }
  .m-sm-3 {
    margin: 1rem !important
  }
  .mr-sm-4, .mx-sm-4 {
    margin-right: 1.5rem !important
  }
  .ml-sm-4, .mx-sm-4 {
    margin-left: 1.5rem !important
  }
  .mt-sm-4, .my-sm-4 {
    margin-top: 1.5rem !important
  }
  .mb-sm-4, .my-sm-4 {
    margin-bottom: 1.5rem !important
  }
  .m-sm-4 {
    margin: 1.5rem !important
  }
  .mr-sm-5, .mx-sm-5 {
    margin-right: 3rem !important
  }
  .ml-sm-5, .mx-sm-5 {
    margin-left: 3rem !important
  }
  .mt-sm-5, .my-sm-5 {
    margin-top: 3rem !important
  }
  .mb-sm-5, .my-sm-5 {
    margin-bottom: 3rem !important
  }
  .m-sm-5 {
    margin: 3rem !important
  }
  .p-sm-0 {
    padding: 0 !important
  }
  .pr-sm-1, .px-sm-1 {
    padding-right: .25rem !important
  }
  .pl-sm-1, .px-sm-1 {
    padding-left: .25rem !important
  }
  .pt-sm-1, .py-sm-1 {
    padding-top: .25rem !important
  }
  .pb-sm-1, .py-sm-1 {
    padding-bottom: .25rem !important
  }
  .p-sm-1 {
    padding: .25rem !important
  }
  .pr-sm-2, .px-sm-2 {
    padding-right: .5rem !important
  }
  .pl-sm-2, .px-sm-2 {
    padding-left: .5rem !important
  }
  .pt-sm-2, .py-sm-2 {
    padding-top: .5rem !important
  }
  .pb-sm-2, .py-sm-2 {
    padding-bottom: .5rem !important
  }
  .p-sm-2 {
    padding: .5rem !important
  }
  .pr-sm-3, .px-sm-3 {
    padding-right: 1rem !important
  }
  .pl-sm-3, .px-sm-3 {
    padding-left: 1rem !important
  }
  .pt-sm-3, .py-sm-3 {
    padding-top: 1rem !important
  }
  .pb-sm-3, .py-sm-3 {
    padding-bottom: 1rem !important
  }
  .p-sm-3 {
    padding: 1rem !important
  }
  .pr-sm-4, .px-sm-4 {
    padding-right: 1.5rem !important
  }
  .pl-sm-4, .px-sm-4 {
    padding-left: 1.5rem !important
  }
  .pt-sm-4, .py-sm-4 {
    padding-top: 1.5rem !important
  }
  .pb-sm-4, .py-sm-4 {
    padding-bottom: 1.5rem !important
  }
  .p-sm-4 {
    padding: 1.5rem !important
  }
  .pr-sm-5, .px-sm-5 {
    padding-right: 3rem !important
  }
  .pl-sm-5, .px-sm-5 {
    padding-left: 3rem !important
  }
  .pt-sm-5, .py-sm-5 {
    padding-top: 3rem !important
  }
  .pb-sm-5, .py-sm-5 {
    padding-bottom: 3rem !important
  }
  .p-sm-5 {
    padding: 3rem !important
  }
}

@media (min-width: 992px) {
  .float-md-left {
    float: left !important
  }
  .float-md-right {
    float: right !important
  }
  .float-md-none {
    float: none !important
  }
  .text-md-left {
    text-align: left !important
  }
  .text-md-right {
    text-align: right !important
  }
  .text-md-center {
    text-align: center !important
  }
  .mr-md-0, .mx-md-0 {
    margin-right: 0 !important
  }
  .ml-md-0, .mx-md-0 {
    margin-left: 0 !important
  }
  .mt-md-0, .my-md-0 {
    margin-top: 0 !important
  }
  .mb-md-0, .my-md-0 {
    margin-bottom: 0 !important
  }
  .pr-md-0, .px-md-0 {
    padding-right: 0 !important
  }
  .pl-md-0, .px-md-0 {
    padding-left: 0 !important
  }
  .pt-md-0, .py-md-0 {
    padding-top: 0 !important
  }
  .pb-md-0, .py-md-0 {
    padding-bottom: 0 !important
  }
  .m-md-0 {
    margin: 0 !important
  }
  .mr-md-1, .mx-md-1 {
    margin-right: .25rem !important
  }
  .ml-md-1, .mx-md-1 {
    margin-left: .25rem !important
  }
  .mt-md-1, .my-md-1 {
    margin-top: .25rem !important
  }
  .mb-md-1, .my-md-1 {
    margin-bottom: .25rem !important
  }
  .m-md-1 {
    margin: .25rem !important
  }
  .mr-md-2, .mx-md-2 {
    margin-right: .5rem !important
  }
  .ml-md-2, .mx-md-2 {
    margin-left: .5rem !important
  }
  .mt-md-2, .my-md-2 {
    margin-top: .5rem !important
  }
  .mb-md-2, .my-md-2 {
    margin-bottom: .5rem !important
  }
  .m-md-2 {
    margin: .5rem !important
  }
  .mr-md-3, .mx-md-3 {
    margin-right: 1rem !important
  }
  .ml-md-3, .mx-md-3 {
    margin-left: 1rem !important
  }
  .mt-md-3, .my-md-3 {
    margin-top: 1rem !important
  }
  .mb-md-3, .my-md-3 {
    margin-bottom: 1rem !important
  }
  .m-md-3 {
    margin: 1rem !important
  }
  .mr-md-4, .mx-md-4 {
    margin-right: 1.5rem !important
  }
  .ml-md-4, .mx-md-4 {
    margin-left: 1.5rem !important
  }
  .mt-md-4, .my-md-4 {
    margin-top: 1.5rem !important
  }
  .mb-md-4, .my-md-4 {
    margin-bottom: 1.5rem !important
  }
  .m-md-4 {
    margin: 1.5rem !important
  }
  .mr-md-5, .mx-md-5 {
    margin-right: 3rem !important
  }
  .ml-md-5, .mx-md-5 {
    margin-left: 3rem !important
  }
  .mt-md-5, .my-md-5 {
    margin-top: 3rem !important
  }
  .mb-md-5, .my-md-5 {
    margin-bottom: 3rem !important
  }
  .m-md-5 {
    margin: 3rem !important
  }
  .p-md-0 {
    padding: 0 !important
  }
  .pr-md-1, .px-md-1 {
    padding-right: .25rem !important
  }
  .pl-md-1, .px-md-1 {
    padding-left: .25rem !important
  }
  .pt-md-1, .py-md-1 {
    padding-top: .25rem !important
  }
  .pb-md-1, .py-md-1 {
    padding-bottom: .25rem !important
  }
  .p-md-1 {
    padding: .25rem !important
  }
  .pr-md-2, .px-md-2 {
    padding-right: .5rem !important
  }
  .pl-md-2, .px-md-2 {
    padding-left: .5rem !important
  }
  .pt-md-2, .py-md-2 {
    padding-top: .5rem !important
  }
  .pb-md-2, .py-md-2 {
    padding-bottom: .5rem !important
  }
  .p-md-2 {
    padding: .5rem !important
  }
  .pr-md-3, .px-md-3 {
    padding-right: 1rem !important
  }
  .pl-md-3, .px-md-3 {
    padding-left: 1rem !important
  }
  .pt-md-3, .py-md-3 {
    padding-top: 1rem !important
  }
  .pb-md-3, .py-md-3 {
    padding-bottom: 1rem !important
  }
  .p-md-3 {
    padding: 1rem !important
  }
  .pr-md-4, .px-md-4 {
    padding-right: 1.5rem !important
  }
  .pl-md-4, .px-md-4 {
    padding-left: 1.5rem !important
  }
  .pt-md-4, .py-md-4 {
    padding-top: 1.5rem !important
  }
  .pb-md-4, .py-md-4 {
    padding-bottom: 1.5rem !important
  }
  .p-md-4 {
    padding: 1.5rem !important
  }
  .pr-md-5, .px-md-5 {
    padding-right: 3rem !important
  }
  .pl-md-5, .px-md-5 {
    padding-left: 3rem !important
  }
  .pt-md-5, .py-md-5 {
    padding-top: 3rem !important
  }
  .pb-md-5, .py-md-5 {
    padding-bottom: 3rem !important
  }
  .p-md-5 {
    padding: 3rem !important
  }
}

@media (min-width: 1200px) {
  .float-lg-left {
    float: left !important
  }
  .float-lg-right {
    float: right !important
  }
  .float-lg-none {
    float: none !important
  }
  .text-lg-left {
    text-align: left !important
  }
  .text-lg-right {
    text-align: right !important
  }
  .text-lg-center {
    text-align: center !important
  }
  .mr-lg-0, .mx-lg-0 {
    margin-right: 0 !important
  }
  .ml-lg-0, .mx-lg-0 {
    margin-left: 0 !important
  }
  .mt-lg-0, .my-lg-0 {
    margin-top: 0 !important
  }
  .mb-lg-0, .my-lg-0 {
    margin-bottom: 0 !important
  }
  .pr-lg-0, .px-lg-0 {
    padding-right: 0 !important
  }
  .pl-lg-0, .px-lg-0 {
    padding-left: 0 !important
  }
  .pt-lg-0, .py-lg-0 {
    padding-top: 0 !important
  }
  .pb-lg-0, .py-lg-0 {
    padding-bottom: 0 !important
  }
  .m-lg-0 {
    margin: 0 !important
  }
  .mr-lg-1, .mx-lg-1 {
    margin-right: .25rem !important
  }
  .ml-lg-1, .mx-lg-1 {
    margin-left: .25rem !important
  }
  .mt-lg-1, .my-lg-1 {
    margin-top: .25rem !important
  }
  .mb-lg-1, .my-lg-1 {
    margin-bottom: .25rem !important
  }
  .m-lg-1 {
    margin: .25rem !important
  }
  .mr-lg-2, .mx-lg-2 {
    margin-right: .5rem !important
  }
  .ml-lg-2, .mx-lg-2 {
    margin-left: .5rem !important
  }
  .mt-lg-2, .my-lg-2 {
    margin-top: .5rem !important
  }
  .mb-lg-2, .my-lg-2 {
    margin-bottom: .5rem !important
  }
  .m-lg-2 {
    margin: .5rem !important
  }
  .mr-lg-3, .mx-lg-3 {
    margin-right: 1rem !important
  }
  .ml-lg-3, .mx-lg-3 {
    margin-left: 1rem !important
  }
  .mt-lg-3, .my-lg-3 {
    margin-top: 1rem !important
  }
  .mb-lg-3, .my-lg-3 {
    margin-bottom: 1rem !important
  }
  .m-lg-3 {
    margin: 1rem !important
  }
  .mr-lg-4, .mx-lg-4 {
    margin-right: 1.5rem !important
  }
  .ml-lg-4, .mx-lg-4 {
    margin-left: 1.5rem !important
  }
  .mt-lg-4, .my-lg-4 {
    margin-top: 1.5rem !important
  }
  .mb-lg-4, .my-lg-4 {
    margin-bottom: 1.5rem !important
  }
  .m-lg-4 {
    margin: 1.5rem !important
  }
  .mr-lg-5, .mx-lg-5 {
    margin-right: 3rem !important
  }
  .ml-lg-5, .mx-lg-5 {
    margin-left: 3rem !important
  }
  .mt-lg-5, .my-lg-5 {
    margin-top: 3rem !important
  }
  .mb-lg-5, .my-lg-5 {
    margin-bottom: 3rem !important
  }
  .m-lg-5 {
    margin: 3rem !important
  }
  .p-lg-0 {
    padding: 0 !important
  }
  .pr-lg-1, .px-lg-1 {
    padding-right: .25rem !important
  }
  .pl-lg-1, .px-lg-1 {
    padding-left: .25rem !important
  }
  .pt-lg-1, .py-lg-1 {
    padding-top: .25rem !important
  }
  .pb-lg-1, .py-lg-1 {
    padding-bottom: .25rem !important
  }
  .p-lg-1 {
    padding: .25rem !important
  }
  .pr-lg-2, .px-lg-2 {
    padding-right: .5rem !important
  }
  .pl-lg-2, .px-lg-2 {
    padding-left: .5rem !important
  }
  .pt-lg-2, .py-lg-2 {
    padding-top: .5rem !important
  }
  .pb-lg-2, .py-lg-2 {
    padding-bottom: .5rem !important
  }
  .p-lg-2 {
    padding: .5rem !important
  }
  .pr-lg-3, .px-lg-3 {
    padding-right: 1rem !important
  }
  .pl-lg-3, .px-lg-3 {
    padding-left: 1rem !important
  }
  .pt-lg-3, .py-lg-3 {
    padding-top: 1rem !important
  }
  .pb-lg-3, .py-lg-3 {
    padding-bottom: 1rem !important
  }
  .p-lg-3 {
    padding: 1rem !important
  }
  .pr-lg-4, .px-lg-4 {
    padding-right: 1.5rem !important
  }
  .pl-lg-4, .px-lg-4 {
    padding-left: 1.5rem !important
  }
  .pt-lg-4, .py-lg-4 {
    padding-top: 1.5rem !important
  }
  .pb-lg-4, .py-lg-4 {
    padding-bottom: 1.5rem !important
  }
  .p-lg-4 {
    padding: 1.5rem !important
  }
  .pr-lg-5, .px-lg-5 {
    padding-right: 3rem !important
  }
  .pl-lg-5, .px-lg-5 {
    padding-left: 3rem !important
  }
  .pt-lg-5, .py-lg-5 {
    padding-top: 3rem !important
  }
  .pb-lg-5, .py-lg-5 {
    padding-bottom: 3rem !important
  }
  .p-lg-5 {
    padding: 3rem !important
  }
}

.borderless {
  border-color: transparent;
}

.burger-bar {
  width: 20px;
  height: 3px;
  background-color: grey;
  margin: 4px 0;
}

/* Structure */
table {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}


.container {
  width: 80%;
  margin: auto;
}

.transparent {
  background-color: transparent;
}

.text-danger {
  color: red;
}

.text-break {
  word-wrap: break-word;
}

@media (min-width: 768px) {
  .container {
    width: 750px
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px
  }
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

.row {
  margin-right: -15px;
  margin-left: -15px
}

.row-no-gutters {
  margin-right: 0;
  margin-left: 0
}

.row-no-gutters [class*="col-"] {
  padding-right: 0;
  padding-left: 0
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left
}

.col-xs-12 {
  width: 100%
}

.col-xs-11 {
  width: 91.66666667%
}

.col-xs-10 {
  width: 83.33333333%
}

.col-xs-9 {
  width: 75%
}

.col-xs-8 {
  width: 66.66666667%
}

.col-xs-7 {
  width: 58.33333333%
}

.col-xs-6 {
  width: 50%
}

.col-xs-5 {
  width: 41.66666667%
}

.col-xs-4 {
  width: 33.33333333%
}

.col-xs-3 {
  width: 25%
}

.col-xs-2 {
  width: 16.66666667%
}

.col-xs-1 {
  width: 8.33333333%
}

.col-xs-pull-12 {
  right: 100%
}

.col-xs-pull-11 {
  right: 91.66666667%
}

.col-xs-pull-10 {
  right: 83.33333333%
}

.col-xs-pull-9 {
  right: 75%
}

.col-xs-pull-8 {
  right: 66.66666667%
}

.col-xs-pull-7 {
  right: 58.33333333%
}

.col-xs-pull-6 {
  right: 50%
}

.col-xs-pull-5 {
  right: 41.66666667%
}

.col-xs-pull-4 {
  right: 33.33333333%
}

.col-xs-pull-3 {
  right: 25%
}

.col-xs-pull-2 {
  right: 16.66666667%
}

.col-xs-pull-1 {
  right: 8.33333333%
}

.col-xs-pull-0 {
  right: auto
}

.col-xs-push-12 {
  left: 100%
}

.col-xs-push-11 {
  left: 91.66666667%
}

.col-xs-push-10 {
  left: 83.33333333%
}

.col-xs-push-9 {
  left: 75%
}

.col-xs-push-8 {
  left: 66.66666667%
}

.col-xs-push-7 {
  left: 58.33333333%
}

.col-xs-push-6 {
  left: 50%
}

.col-xs-push-5 {
  left: 41.66666667%
}

.col-xs-push-4 {
  left: 33.33333333%
}

.col-xs-push-3 {
  left: 25%
}

.col-xs-push-2 {
  left: 16.66666667%
}

.col-xs-push-1 {
  left: 8.33333333%
}

.col-xs-push-0 {
  left: auto
}

.col-xs-offset-12 {
  margin-left: 100%
}

.col-xs-offset-11 {
  margin-left: 91.66666667%
}

.col-xs-offset-10 {
  margin-left: 83.33333333%
}

.col-xs-offset-9 {
  margin-left: 75%
}

.col-xs-offset-8 {
  margin-left: 66.66666667%
}

.col-xs-offset-7 {
  margin-left: 58.33333333%
}

.col-xs-offset-6 {
  margin-left: 50%
}

.col-xs-offset-5 {
  margin-left: 41.66666667%
}

.col-xs-offset-4 {
  margin-left: 33.33333333%
}

.col-xs-offset-3 {
  margin-left: 25%
}

.col-xs-offset-2 {
  margin-left: 16.66666667%
}

.col-xs-offset-1 {
  margin-left: 8.33333333%
}

.col-xs-offset-0 {
  margin-left: 0
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left
  }
  .col-sm-12 {
    width: 100%
  }
  .col-sm-11 {
    width: 91.66666667%
  }
  .col-sm-10 {
    width: 83.33333333%
  }
  .col-sm-9 {
    width: 75%
  }
  .col-sm-8 {
    width: 66.66666667%
  }
  .col-sm-7 {
    width: 58.33333333%
  }
  .col-sm-6 {
    width: 50%
  }
  .col-sm-5 {
    width: 41.66666667%
  }
  .col-sm-4 {
    width: 33.33333333%
  }
  .col-sm-3 {
    width: 25%
  }
  .col-sm-2 {
    width: 16.66666667%
  }
  .col-sm-1 {
    width: 8.33333333%
  }
  .col-sm-pull-12 {
    right: 100%
  }
  .col-sm-pull-11 {
    right: 91.66666667%
  }
  .col-sm-pull-10 {
    right: 83.33333333%
  }
  .col-sm-pull-9 {
    right: 75%
  }
  .col-sm-pull-8 {
    right: 66.66666667%
  }
  .col-sm-pull-7 {
    right: 58.33333333%
  }
  .col-sm-pull-6 {
    right: 50%
  }
  .col-sm-pull-5 {
    right: 41.66666667%
  }
  .col-sm-pull-4 {
    right: 33.33333333%
  }
  .col-sm-pull-3 {
    right: 25%
  }
  .col-sm-pull-2 {
    right: 16.66666667%
  }
  .col-sm-pull-1 {
    right: 8.33333333%
  }
  .col-sm-pull-0 {
    right: auto
  }
  .col-sm-push-12 {
    left: 100%
  }
  .col-sm-push-11 {
    left: 91.66666667%
  }
  .col-sm-push-10 {
    left: 83.33333333%
  }
  .col-sm-push-9 {
    left: 75%
  }
  .col-sm-push-8 {
    left: 66.66666667%
  }
  .col-sm-push-7 {
    left: 58.33333333%
  }
  .col-sm-push-6 {
    left: 50%
  }
  .col-sm-push-5 {
    left: 41.66666667%
  }
  .col-sm-push-4 {
    left: 33.33333333%
  }
  .col-sm-push-3 {
    left: 25%
  }
  .col-sm-push-2 {
    left: 16.66666667%
  }
  .col-sm-push-1 {
    left: 8.33333333%
  }
  .col-sm-push-0 {
    left: auto
  }
  .col-sm-offset-12 {
    margin-left: 100%
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%
  }
  .col-sm-offset-9 {
    margin-left: 75%
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%
  }
  .col-sm-offset-6 {
    margin-left: 50%
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%
  }
  .col-sm-offset-3 {
    margin-left: 25%
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%
  }
  .col-sm-offset-0 {
    margin-left: 0
  }
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left
  }
  .col-md-12 {
    width: 100%
  }
  .col-md-11 {
    width: 91.66666667%
  }
  .col-md-10 {
    width: 83.33333333%
  }
  .col-md-9 {
    width: 75%
  }
  .col-md-8 {
    width: 66.66666667%
  }
  .col-md-7 {
    width: 58.33333333%
  }
  .col-md-6 {
    width: 50%
  }
  .col-md-5 {
    width: 41.66666667%
  }
  .col-md-4 {
    width: 33.33333333%
  }
  .col-md-3 {
    width: 25%
  }
  .col-md-2 {
    width: 16.66666667%
  }
  .col-md-1 {
    width: 8.33333333%
  }
  .col-md-pull-12 {
    right: 100%
  }
  .col-md-pull-11 {
    right: 91.66666667%
  }
  .col-md-pull-10 {
    right: 83.33333333%
  }
  .col-md-pull-9 {
    right: 75%
  }
  .col-md-pull-8 {
    right: 66.66666667%
  }
  .col-md-pull-7 {
    right: 58.33333333%
  }
  .col-md-pull-6 {
    right: 50%
  }
  .col-md-pull-5 {
    right: 41.66666667%
  }
  .col-md-pull-4 {
    right: 33.33333333%
  }
  .col-md-pull-3 {
    right: 25%
  }
  .col-md-pull-2 {
    right: 16.66666667%
  }
  .col-md-pull-1 {
    right: 8.33333333%
  }
  .col-md-pull-0 {
    right: auto
  }
  .col-md-push-12 {
    left: 100%
  }
  .col-md-push-11 {
    left: 91.66666667%
  }
  .col-md-push-10 {
    left: 83.33333333%
  }
  .col-md-push-9 {
    left: 75%
  }
  .col-md-push-8 {
    left: 66.66666667%
  }
  .col-md-push-7 {
    left: 58.33333333%
  }
  .col-md-push-6 {
    left: 50%
  }
  .col-md-push-5 {
    left: 41.66666667%
  }
  .col-md-push-4 {
    left: 33.33333333%
  }
  .col-md-push-3 {
    left: 25%
  }
  .col-md-push-2 {
    left: 16.66666667%
  }
  .col-md-push-1 {
    left: 8.33333333%
  }
  .col-md-push-0 {
    left: auto
  }
  .col-md-offset-12 {
    margin-left: 100%
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%
  }
  .col-md-offset-9 {
    margin-left: 75%
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%
  }
  .col-md-offset-6 {
    margin-left: 50%
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%
  }
  .col-md-offset-3 {
    margin-left: 25%
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%
  }
  .col-md-offset-0 {
    margin-left: 0
  }
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left
  }
  .col-lg-12 {
    width: 100%
  }
  .col-lg-11 {
    width: 91.66666667%
  }
  .col-lg-10 {
    width: 83.33333333%
  }
  .col-lg-9 {
    width: 75%
  }
  .col-lg-8 {
    width: 66.66666667%
  }
  .col-lg-7 {
    width: 58.33333333%
  }
  .col-lg-6 {
    width: 50%
  }
  .col-lg-5 {
    width: 41.66666667%
  }
  .col-lg-4 {
    width: 33.33333333%
  }
  .col-lg-3 {
    width: 25%
  }
  .col-lg-2 {
    width: 16.66666667%
  }
  .col-lg-1 {
    width: 8.33333333%
  }
  .col-lg-pull-12 {
    right: 100%
  }
  .col-lg-pull-11 {
    right: 91.66666667%
  }
  .col-lg-pull-10 {
    right: 83.33333333%
  }
  .col-lg-pull-9 {
    right: 75%
  }
  .col-lg-pull-8 {
    right: 66.66666667%
  }
  .col-lg-pull-7 {
    right: 58.33333333%
  }
  .col-lg-pull-6 {
    right: 50%
  }
  .col-lg-pull-5 {
    right: 41.66666667%
  }
  .col-lg-pull-4 {
    right: 33.33333333%
  }
  .col-lg-pull-3 {
    right: 25%
  }
  .col-lg-pull-2 {
    right: 16.66666667%
  }
  .col-lg-pull-1 {
    right: 8.33333333%
  }
  .col-lg-pull-0 {
    right: auto
  }
  .col-lg-push-12 {
    left: 100%
  }
  .col-lg-push-11 {
    left: 91.66666667%
  }
  .col-lg-push-10 {
    left: 83.33333333%
  }
  .col-lg-push-9 {
    left: 75%
  }
  .col-lg-push-8 {
    left: 66.66666667%
  }
  .col-lg-push-7 {
    left: 58.33333333%
  }
  .col-lg-push-6 {
    left: 50%
  }
  .col-lg-push-5 {
    left: 41.66666667%
  }
  .col-lg-push-4 {
    left: 33.33333333%
  }
  .col-lg-push-3 {
    left: 25%
  }
  .col-lg-push-2 {
    left: 16.66666667%
  }
  .col-lg-push-1 {
    left: 8.33333333%
  }
  .col-lg-push-0 {
    left: auto
  }
  .col-lg-offset-12 {
    margin-left: 100%
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%
  }
  .col-lg-offset-9 {
    margin-left: 75%
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%
  }
  .col-lg-offset-6 {
    margin-left: 50%
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%
  }
  .col-lg-offset-3 {
    margin-left: 25%
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%
  }
  .col-lg-offset-0 {
    margin-left: 0
  }
}

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  display: table;
  content: " "
}

.clearfix:after, .container:after, .container-fluid:after, .row:after {
  clear: both
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto
}

.pull-right {
  float: right !important
}

.pull-left {
  float: left !important
}

.hide {
  display: none !important
}

.show {
  display: block !important
}

.invisible {
  visibility: hidden
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0
}

.hidden {
  display: none !important
}

.affix {
  position: fixed
}

@include mat-core();
$app-primary: mat-palette($mat-blue);
$app-accent: mat-palette($mat-yellow);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);
.app-accent {
  color: mat-color($app-accent) !important;
}

.app-primary {
  color: mat-color($app-primary) !important;
}

.app-warn {
  color: mat-color($app-warn) !important;
}

td, th {

  /* css-3 */
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
}

table {
  table-layout: fixed;
  width: 100%
}
